<% layout('/layouts/default.html', {title: '剖宫产管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(qualityCesareanSection.isNewRecord ? '新增剖宫产' : '编辑剖宫产')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${qualityCesareanSection}" action="${ctx}/cesarean/qualityCesareanSection/save" method="post" class="form-horizontal">
			<div class="box-body">

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					基本信息
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="form-unit">${text('适用的ICD-10编码与疾病名称：')}</div>
				<#form:hidden path="id"/>
				<div class="row">

					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('患者病案号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="caseId" maxlength="255" class="form-control required"/>
							</div>
							<div class="col-sm-3">
								<button type="button" class="btn btn-sm btn-primary" id="patientSubmit"><i class="fa fa-check"></i> ${text('导入患者信息')}</button>&nbsp;
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('质控医师')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0111" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('质控护士')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0112" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('主治医师')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0113" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('责任护士')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0114" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('上报科室')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0115" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="字典：CM_0_1_3_1">
								<span class="required ">*</span> ${text('出院诊断ICD-10四位亚目编码与名称')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm0131" dictType="CM_0_1_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="字典：CM_0_1_3_2">
								<span class="required ">*</span> ${text('出院诊断ICD-10六位临床扩展编码与名称')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm0132" dictType="CM_0_1_3_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('主要手术操作 国家临床版ICD-9.CM-3编码与手术名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm0141" dictType="CM_0_1_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否出院后31天内重复住院')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cm015" dictType="CM_0_1_5" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="form-unit">${text('相关日期时间信息：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('出生日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0211" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('患者体重')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0213" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('患者身高')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0215" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('新生儿出生体重')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0216" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('末次月经日期是否确定')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs0221" dictType="CS_0_2_2_1" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('末次月经日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cs022" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('到达本院急诊或者门诊日期时间是否确定')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm0231" dictType="CM_0_2_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('到达本院急诊或者门诊日期时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0232" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('入院日期时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0241" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('出院日期时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0242" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术开始')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0261" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术结束')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm0262" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>

				<div class="form-unit">${text('其他相关信息：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('费用支付方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm031" dictType="CM_0_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('收入住院途径')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm032" dictType="CM_0_3_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('到院交通工具')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm033" dictType="CM_0_3_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-1剖宫产术前评估
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="form-unit">${text('1.WHO统一剖宫产分类(Robson分类法)：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('产次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs111" dictType="CS_1_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('临产方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs113" dictType="CS_1_1_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('孕周')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs114" dictType="CS_1_1_4" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('胎位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs115" dictType="CS_1_1_5" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('胎儿数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs116" dictType="CS_1_1_6" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="form-unit">${text('2.剖宫产术前风险评估：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术前风险评估的检查项目')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs121" dictType="CS_1_2_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术前知情告知')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs122" dictType="CS_1_2_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('麻醉前知情告知')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs123$1" dictType="CS_1_2_31" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('麻醉方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs124" dictType="CS_1_2_4" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-2 手术指征
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('剖宫产指征')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs2111" dictType="CS_2_1_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hidden">*</span> ${text('孕妇要求剖宫产的评估')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs221" dictType="CS_2_2_1" class="form-control" />
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术方式选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs231" dictType="CS_2_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('胎儿娩出日期时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cs242" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-3 手术前预防性抗菌药物选用一、二代头孢菌素
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="form-unit">${text('预防性抗菌药物应用时机：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否使用预防性抗菌药物')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cm111" dictType="CM_1_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-4 新生儿Apgar评分
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否实施新生儿Apgar评分')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs41" dictType="CS_4_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-5 输血量
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('术后24小时内出血量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs51" dictType="CS_5_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('剖宫产产后出血可能的原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs521" dictType="CS_5_2_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('术后24小时内输血量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs53" dictType="CS_5_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div id="cs54Row" class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('术后24小时内实际输血量（ml）')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cs54"  class="form-control required number" />
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('止血干预措施的选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs55" dictType="CS_5_5" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-6 手术并发症与再次手术情况
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否有剖宫产并发症')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs611" dictType="CS_6_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否再次手术')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs62" dictType="CS_6_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div id="cs63Row" class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('再次手术原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs63" dictType="CS_6_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('影响程度的选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs64" dictType="CS_6_4" class="form-control required" />
							</div>
						</div>
					</div>
				</div>


				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-7 手术相关新生儿并发症
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否有新生儿产伤')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs71" dictType="CS_7_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('新生儿是否有先天性畸形、变形和染色体异常')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs73" dictType="CS_7_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-8 提供母乳喂养教育情况
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('母乳喂养禁忌症选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cs811" dictType="CS_8_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>


				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-9 住院期间为产妇提供术前、术后健康教育与出院时提供教育告知五要素情况
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="form-unit">${text('住院期间为产妇提供术前、术后健康教育：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('住院期间为产妇提供术前健康教育')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs911" dictType="CS_9_1_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('提供产后康复健康教育')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cs912" dictType="CS_9_1_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('是否提供术后镇痛')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs913" dictType="CS_9_1_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="form-unit">${text('出院时提供教育告知五要素情况：')}</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="字典:(CM_7_2_1)">
								<span class="required ">*</span> ${text('交与患者“出院小结”的副本告知患者出院时风险因素')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm721" dictType="CM_7_2_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="字典:(CM_7_2_2)">
								<span class="required ">*</span> ${text('母乳喂养与出院带药')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm722" dictType="CM_7_2_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="字典:(CM_7_2_3)">
								<span class="required ">*</span> ${text('告知出院关注事项')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm723" dictType="CM_7_2_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('出院时教育')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm724" dictType="CM_7_2_4" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('告知随访')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:checkbox path="cm725" dictType="CM_7_2_5" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-10 手术切口愈合情况
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术野皮肤准备常用方法的选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm31" dictType="CM_3_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('使用含抗菌剂（三氯生）缝线')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm32" dictType="CM_3_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术切口类别的选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm33" dictType="CM_3_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术切口愈合情况的选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm34" dictType="CM_3_4" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-11 离院方式
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('离院方式选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm43" dictType="CM_4_3" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
				</div>


				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-12 患者对服务的体验与评价
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('患者是否对服务的体验与评价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cm51" dictType="CM_5_1" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('整体医院评级')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm521" dictType="CM_5_2_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('患者推荐')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm522" dictType="CM_5_2_2" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('病房、床单元和卫生间清洁度')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm523" dictType="CM_5_2_3" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('病房与周边噪音')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm525" dictType="CM_5_2_5" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('医生沟通')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm526" dictType="CM_5_2_6" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('护士沟通')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm527" dictType="CM_5_2_7" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('药师沟通')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm528" dictType="CM_5_2_8" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('康复计划')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm529" dictType="CM_5_2_9" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('出院时的知情告知')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm521$0" dictType="CM_5_2_10" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('膳食评价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:select path="cm521$1" dictType="CM_5_2_11" class="form-control required" />
							</div>
						</div>
					</div>
				</div>


				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-13 妊娠合并HBV实施母婴阻断
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('体内乙肝病毒检测是否阳性孕妇')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:radio path="cs1$21" dictType="CS_12_1" class="form-control required" />
							</div>
						</div>
					</div>
				</div>


				<p class="form-title form-cursor box-remark">
					<span class="circle"></span>
					CS-14 住院费用
					<span class="pull-right">
						<span class="arrow-up"></span>
					</span>
				</p>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('住院总费用')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('住院总费用其中自付金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('一般医疗服务费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm63" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('一般治疗操作费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm64" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('护理费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm65" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('综合医疗服务类其他费用')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm66" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('病理诊断费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm67" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('实验室诊断费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm68" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('影像学诊断费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm69" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('临床诊断项目费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$0" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('非手术治疗项目费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$1" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('其中：临床物理治疗费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$2" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术治疗费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$3" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('其中：麻醉费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$4" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('其中：手术费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$5" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('康复费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$6" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('中医治疗费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$7" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('西药费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$8" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('其中：抗菌药物费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm61$9" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('中成药费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$0" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('中草药费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$1" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('血费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$2" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('白蛋白类制品费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$3" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('球蛋白类制品费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$4" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('凝血因子类制品费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$5" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('细胞因子类制品费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$6" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('检查用一次性医用材料费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$7" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('治疗用一次性医用材料费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$8" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('手术用一次性医用材料费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm62$9" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('其他费')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="cm63$0" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('cesarean:qualityCesareanSection:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>
<style>
	.form-cursor{
		font-size: 14px;
		color: #3362CD;
		letter-spacing: 0;
		font-family: PingFangSC-Semibold;
		cursor: pointer;
		font-weight: 600;
	}
	.form-title{
		font-size: 16px;
		margin: 12px auto 0;
		margin-top: 0;
		text-align: left;
		line-height: 40px;
		background: #F5F7FD;
		margin-top: 24px;
	}
	.circle{
		display: inline-block;
		background: #3362CD;
		width: 2px;
		height: 20px;
		padding: 0 !important;
		border-radius: 2px;
		margin: 0 8px;
		vertical-align: middle;
		margin-top: -4px;
	}
</style>

<script>


	$("#patientSubmit").click(function (){
		$.ajax({
			url:'${ctx}/api/emr/emrHomePage/data',
			type: "POST",
			data: {patNo: $("#caseId").val()},
			success:function (data){
				window.location.href = "${ctx}/cesarean/qualityCesareanSection/form?id="+data;
			}
		});
	});


	//术后24小时内输血量(CS-5-3)等于"实际量ml"(a)时必填;
	//若该字段无相应取值，则接口中不必提交该字段
	// 术后24小时内实际输血量应‎≥0
	$('#cs53').on('ifChecked', function(){
		var v = $('#cs53 input:radio:checked').val();
		if(v=="a"){
			$("#cs54Row").removeClass("hidden");
			$('#cs54').addClass("required")
		}else if(v=="b"){
			$("#cs54Row").addClass("hidden");
			$('#cs54').removeClass("required")
		}
	});


	// 是否再次手术(CS-6-2)等于"是"(y)时必填;
	// 若该字段无相应取值，则接口中不必提交该字段
	$('#cs62').on('ifChecked', function(){
		var v = $('#cs62 input:radio:checked').val();
		if(v=="y"){
			$("#cs63Row").removeClass("hidden");
			$('#cs63').addClass("required")
		}else if(v=="n"){
			$("#cs63Row").addClass("hidden");
			$('#cs63').removeClass("required")
		}
	});


</script>