<% layout('/layouts/default.html', {title: '剖宫产管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('剖宫产管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('cesarean:qualityCesareanSection:edit')){ %>
					<a href="${ctx}/cesarean/qualityCesareanSection/form" class="btn btn-default btnTool" title="${text('新增剖宫产')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${qualityCesareanSection}" action="${ctx}/cesarean/qualityCesareanSection/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('患者病案号')}：</label>
					<div class="control-inline">
						<#form:input path="caseId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('质控医师')}', name:'cm0111', index:'a.cm0111', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/cesarean/qualityCesareanSection/form?id='+row.id+'" class="btnList" data-title="${text('编辑剖宫产')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('质控护士')}', name:'cm0112', index:'a.cm0112', width:150, align:"left"},
		{header:'${text('主治医师')}', name:'cm0113', index:'a.cm0113', width:150, align:"left"},
		{header:'${text('责任护士')}', name:'cm0114', index:'a.cm0114', width:150, align:"left"},
		{header:'${text('上报科室')}', name:'cm0115', index:'a.cm0115', width:150, align:"left"},
		{header:'${text('患者病案号')}', name:'caseId', index:'a.case_id', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cesarean:qualityCesareanSection:edit')){ %>
				actions.push('<a href="${ctx}/cesarean/qualityCesareanSection/form?id='+row.id+'" class="btnList" title="${text('编辑剖宫产')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/cesarean/qualityCesareanSection/disable?id='+row.id+'" class="btnList" title="${text('停用剖宫产')}" data-confirm="${text('确认要停用该剖宫产吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/cesarean/qualityCesareanSection/enable?id='+row.id+'" class="btnList" title="${text('启用剖宫产')}" data-confirm="${text('确认要启用该剖宫产吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/cesarean/qualityCesareanSection/delete?id='+row.id+'" class="btnList" title="${text('删除剖宫产')}" data-confirm="${text('确认要删除该剖宫产吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>