<% layout('/layouts/default.html', {title: '病种设置管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('病种设置管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('base:qualityDisease:edit')){ %>
					<a href="${ctx}/base/qualityDisease/form" class="btn btn-default btnTool" title="${text('新增病种设置')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${qualityDisease}" action="${ctx}/base/qualityDisease/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('编码')}：</label>
					<div class="control-inline">
						<#form:input path="code" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('主诊断')}：</label>
					<div class="control-inline">
						<#form:input path="mainDiagnosis" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出院科室')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="dept" title="${text('机构选择')}"
							path="dept.officeCode" labelPath="dept.officeName" 
							url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最大年龄')}：</label>
					<div class="control-inline">
						<#form:input path="maxAge" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最大住院天数')}：</label>
					<div class="control-inline">
						<#form:input path="maxDay" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最小年龄')}：</label>
					<div class="control-inline">
						<#form:input path="minAge" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最小出院天数')}：</label>
					<div class="control-inline">
						<#form:input path="minDay" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手术编码')}：</label>
					<div class="control-inline">
						<#form:input path="surgicalCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('编码')}', name:'code', index:'a.code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/base/qualityDisease/form?id='+row.id+'" class="btnList" data-title="${text('编辑病种设置')}">'+(val||row.id)+'</a>';
		}},

		{header:'${text('名称')}', name:'name', index:'a.name', width:150, align:"left"},

		{header:'${text('出院科室')}', name:'dept.officeName', index:'a.dept', width:150, align:"center"},

		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('base:qualityDisease:edit')){ %>
				actions.push('<a href="${ctx}/base/qualityDisease/form?id='+row.id+'" class="btnList" title="${text('编辑病种设置')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/base/qualityDisease/disable?id='+row.id+'" class="btnList" title="${text('停用病种设置')}" data-confirm="${text('确认要停用该病种设置吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/base/qualityDisease/enable?id='+row.id+'" class="btnList" title="${text('启用病种设置')}" data-confirm="${text('确认要启用该病种设置吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/base/qualityDisease/form?id='+row.id+'" class="btnList" title="${text('上报')}"><i class="fa fa-reorder"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/base/qualityDisease/delete?id='+row.id+'" class="btnList" title="${text('删除病种设置')}" data-confirm="${text('确认要删除该病种设置吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>