<% layout('/layouts/default.html', {title: '就诊记录管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(pvEncounter.isNewRecord ? '新增就诊记录' : '编辑就诊记录')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${pvEncounter}" action="${ctx}/pv/pvEncounter/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="pkPv"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_org')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkOrg" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pk_pi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkPi" maxlength="32" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('code_pv')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="codePv" maxlength="16" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_pvtype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euPvtype" maxlength="3" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_begin')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateBegin" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_end')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateEnd" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_status')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euStatus" maxlength="3" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_in')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagIn" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_settle')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagSettle" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_pi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="namePi" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_sex')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtSex" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('age_pv')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="agePv" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('address')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="address" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_marry')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtMarry" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_dept')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkDept" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_dept_ns')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkDeptNs" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_clinic')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateClinic" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_admit')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateAdmit" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_wg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkWg" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('bed_no')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bedNo" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_emp_tre')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkEmpTre" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_emp_tre')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameEmpTre" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_emp_phy')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkEmpPhy" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_emp_phy')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameEmpPhy" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_emp_ns')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkEmpNs" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_emp_ns')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameEmpNs" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_insu')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkInsu" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_picate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkPicate" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_emp_reg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkEmpReg" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_emp_reg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameEmpReg" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_reg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateReg" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_cancel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagCancel" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_emp_cancel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkEmpCancel" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_emp_cancel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameEmpCancel" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('date_cancel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateCancel" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_status_fp')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euStatusFp" maxlength="3" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('creator')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="creator" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('create_time')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createTime" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('modifier')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="modifier" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('modity_time')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="modityTime" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('del_flag')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delFlag" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('height')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="height" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('weight')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="weight" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ts')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ts" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addrcode_regi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrcodeRegi" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_regi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrRegi" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_regi_dt')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrRegiDt" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('postcode_regi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postcodeRegi" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addrcode_cur')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrcodeCur" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_cur')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrCur" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_cur_dt')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrCurDt" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('postcode_cur')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postcodeCur" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('unit_work')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitWork" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tel_work')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="telWork" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('postcode_work')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postcodeWork" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_rel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameRel" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_ralation')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtRalation" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tel_rel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="telRel" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_rel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrRel" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_pvsource')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtPvsource" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_pvmode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euPvmode" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_hprealtype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtHprealtype" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_specunit')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtSpecunit" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_spec')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagSpec" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_locked')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euLocked" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('note')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="note" maxlength="1280" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('eu_disetype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="euDisetype" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_idtype_rel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtIdtypeRel" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('idno_rel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="idnoRel" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_mi')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagMi" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_spouse')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameSpouse" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('idno_spouse')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="idnoSpouse" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('desc_symp')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="descSymp" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('desc_epid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="descEpid" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('desc_treat')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="descTreat" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_dept_dist')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkDeptDist" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_spcdtype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtSpcdtype" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('reason_cancel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="reasonCancel" maxlength="128" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tel_agent')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="telAgent" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('idno_agent')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="idnoAgent" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('name_agent')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nameAgent" maxlength="120" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addr_agent')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addrAgent" maxlength="128" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('flag_card_chk')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flagCardChk" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dt_disease')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dtDisease" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pk_dept_area')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pkDeptArea" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('pv:pvEncounter:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>